@media print {
  .container {
    min-width: 1300px !important;
    max-width: 1300px !important;
  }
}

h6 {
  color: #1565c0 !important;
}

.cv-header {
  background-color: #1565c0;
  color: white;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 16px;
  margin-top: 32px;
}

.cv-summary {
  text-align: center;
  margin-bottom: 8px;
}

.cv-side-panel {
  background-color: #eceff1;
}

.cv-side-panel > .container-fluid > .row {
  padding-bottom: 1em;
}

.cv-h-container {
  display: inline-block;
  width: 100%;
  color: #1565c0;
  border-bottom: 3px solid #1565c0;
  margin: 4px 0px 8px !important;
  padding: 4px;
}

.cv-h-container h2,
.cv-h-container h3 {
  font-variant: small-caps;
  margin-bottom: 0px;
}

.material-icons.cv-icon-side,
.faicon.cv-icon-side {
  width: 100%;
  color: #1565c0;
  font-size: 36px;
  text-align: center;
  padding: 4px 0px;
}

#side-panel .col {
  padding: 0px 4px;
}

.cv-contact-info {
  word-wrap: break-word;
  padding: 0px 6px !important;
}

.p-2.cv-skill-name,
.p-2.cv-cs-name {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.cv-skill-progress {
  flex: 0 0 45%;
}

.cv-skill-row {
  width: 100%;
}

.cv-skill-progress > .progress {
  background-color: white;
}

.cv-skill-progress > .progress > .progress-bar {
  background-color: #1565c0;
}

.p-2.cv-stars {
  margin-bottom: -6px;
  margin-top: -6px;
}

.cv-stars > .material-icons {
  letter-spacing: -2px;
}

.material-icons,
.faicon {
  color: #1565c0;
}

.material-icons.cv-icon-main,
.faicon.cv-icon-main {
  font-size: 48px;
  padding: 4px 16px 0px 0px;
  margin-top: -8px;
}

.cv-badge-language {
  background-color: #1565c0;
  color: #eceff1;
  /* float: left; */
}

.cv-main-group {
  width: 100%;
  text-align: justify;
}

ul.cv-bullet-list {
  list-style-type: circle;
  padding-left: 1.5em;
}

/*
ul.cv-bullet-list li:first-child:not(:last-child) {
  padding-bottom: 0.2em;
}

ul.cv-bullet-list li:not(:first-child) {
  padding-top: 0.2em;
}
*/

.cv-main-group > .p-2 {
  padding-bottom: 0 !important;
}

.cv-timeline {
  flex: 0 0 128px;
}

.p-2.cv-timeline {
  padding-top: 0 !important;
}

.p-2.cv-timeline-top {
  padding-bottom: 0 !important;
}

.p-2.cv-timeline-bottom {
  padding-top: 0 !important;
}

.cv-timeline .flex-column {
  width: 100%;
  height: 100%;
}

.cv-timeline .p-2 {
  text-align: center;
  width: 100%;
}

.cv-timeline-duration-wrapper {
  float: left;
  height: 100%;
  width: 100%;
}

.cv-timeline-duration {
  background-color: #1565c0;
  border-radius: 5px;
  color: white;
  padding: 0 5px;
}

.cv-timeline-line {
  min-height: 16px;
  height: 100%;
}

.cv-timeline-drawing {
  border: #1565c0 solid;
  width: 0;
  height: 0;
  margin-left: auto;
  margin-right: auto;
}

.cv-timeline-dot-top {
  border-width: 4px;
  border-radius: 4px;
  margin-top: -8px;
  margin-bottom: -4px;
}

.cv-timeline-dot-bottom {
  border-width: 4px;
  border-radius: 4px;
  margin-top: -4px;
  margin-bottom: -8px;
}

.cv-timeline-line-middle {
  height: 100%;
  border-width: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
}
