<div class="d-flex flex-row justify-content-start cv-skill-row">
  <div class="p-2 cv-cs-name">
    {{ side_element.title }}
  </div>
  <div class="p-2 ml-auto cv-stars">
    <i class="material-icons">
      {% for i in range(5) %}
        {% if side_element.value - i >= 1 %}
          star
        {% elif side_element.value - i == 0.5 %}
          star_half
        {% else %}
          star_border
        {% endif %}
      {% endfor %}
    </i>
  </div>
</div>
