<div class="d-flex justify-content-between cv-main-group">
    <div class="p-2">
        <h5>{{ side_element.title }}</h5>
        <h6>{{ side_element.subtitle }}</h6>
        {% if side_element.content.type == 'text' %}
            {% for content in side_element.content.value %}
                {% if content is string %}
                    <p>
                        {{ content|safe }}
                    </p>
                {% elif content['type'] == 'bullet_list' %}
                     {% include 'bullet_list.html' %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="p-2 cv-timeline">
        <div class="d-flex align-items-end flex-column">
            <div class="p-2">{{ side_element.timeline.end }}</div>
            <div class="p-2 cv-timeline-line">
                <div class="d-flex align-items-center justify-content-center cv-timeline-duration-wrapper">
                    <div class="cv-timeline-duration">
                         {{ side_element.timeline.duration }}
                    </div>
                </div>
                <div class="cv-timeline-drawing cv-timeline-dot-top">
                </div>
                <div class="cv-timeline-drawing cv-timeline-line-middle">
                </div>
                <div class="cv-timeline-drawing cv-timeline-dot-bottom">
                </div>
            </div>
            <div class="mt-auto p-2">{{ side_element.timeline.begin }}</div>
        </div>
    </div>
</div>